---
layout: post
hidden:
- header
- navigator
- related_posts
---

<div class="about-section">
  <div class="about-close hover-target"></div>
  <div class="section-center">
    <div class="container w1600">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <img src="https://box3101.github.io/cy-web/img/profile.jpg" alt="프로필사진">
        </div>
        <div class="col-lg-8 text-center mt-4" style="text-align: center;padding: 20px 0;">
          <p style="font-size: 23px;
    font-weight: bold;">
            이름: 이찬용
          </p>
          <p style="font-size: 1rem;
                  word-break: keep-all;">
            UI개발자는 기획자, 디자이너 ,BackEnd 개발자와의 소통이 매우 중요합니다. <br>
            <strong>"대인관계 속 사람들과 의사소통이 원활하게 될 수 있는 점이 저의 가장 큰 장점입니다."</strong> <br>
            외적인 아름다움도 중요하지만, 내적인 튼튼함이 없다면 무의미하다고 생각합니다. <br>
            대표적으로 인청광역시 통합 웹페이지, G4b 기업지원 플러스 관공서나 공공기관 위주의 업무를 진행 하였고 웹표준, 웹접근성에 관심이 있으며 현재에도 지속적으로 학습을 병행하면서 앞으로 나아가는
            중입니다.

            또한 javaScript 라이브러리 프레임워크에 대해서 공부를 진행중이고, React(Redux 활용한) <a href="https://box3101.github.io/ReactMain/#/"
              target="_blank" title="새창이동">기업형 홈페이지</a>를 만들어 봤으며 현재는 Vue.js를 공부 중입니다.
          </p>
          <p> 학력 : 동국대학교 경주캠퍼스 컴퓨터공학과 </p>
          <p> 생년월일 :1991년 02월 28일 </p>
          <p> 거주지 : 인천광역시 부평구 </p>
          <p> 전화번호 : 010-5844-6226</p>
          <p> 이메일: box4101@nate.com</p>
          <p> 기술 : HTML5, Jade , CSS3, SCSS, SASS , javaScript, GIT, GULP, Vue.js, Astro </p>
        </div>
        <div class="col-12 text-center">
          <p><span>Web Publisher</span></p>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .about-section p span {
    display: block;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 1px;
    color: #866BAF;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }
</style>
